/*Media Screen*/
/*@media screen and (min-width: 600px){
	.right_column{
		display: inline-block;
	}
}*/


body{
	font-family: "Nova Mono";
}

header{
	/*background-color: red;*/
	height: 75px;
	font-size: 50px;
	display: block;
	margin-left	: 135px;
}

aside{
	/*background-color: blue;*/
	padding-top: 20px;
	position: fixed;
	width: 90px;
	text-align: center;
	height: 100%;
	border-right: 1px solid;
	border-color: #acacac;
	/*float: left;*/
	top: 0;

}

.right_column{
	
	width: 47%;
	float: left;
	padding-left: 2%;
	border-left: 1px solid #acacac;
	height: 100%;

}

.left_column{

	width: 48%;
	float: left;
	padding-left: 2%;
}

footer{
	/*background-color: yellow;*/
	height:100px;
	clear: both;
	border-top: 1px solid #acacac;
	position: relative;
	background-color: white;
	bottom: -8px;
}

#logo{
	width: 32px;
}

ul{
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	font-size: 15px;
	color: #acacac;
}

li{
	padding-top: 8px;
}

.footer{
	color: #acacac;
	margin-left: 45px;
	display: inline-block;
}

.main_content{
	margin-left: 90px;
	height: 900px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	/*background-color: green;*/
}
