/*Media Screen*/
@media screen and (min-width: 600px){
	.right_column{
		display: inline-block;
	}
}


body{
	font-family: "Nova Mono";
}

header{
	/*background-color: red;*/
	height: 75px;
	font-size: 50px;
	display: block;
	margin-left	: 135px;
}

aside{
	/*background-color: blue;*/
	padding-top: 20px;
	position: fixed;
	width: 8%;
	text-align: center;
	height: 100%;
	border-right: 1px solid;
	border-color: #acacac;
	/*float: left;*/
	top: 0;

}

.right_column{
	/*background-color: blue;*/
	width: 46%;
	float: right;
	height: 840px;
	border-left: 1px solid #acacac;
	padding: 30px 20px 30px 20px;
}

.left_column{
	width: 46%;
	float: left;
}

footer{
	/*background-color: yellow;*/
	height:100px;
	clear: both;
	border-top: 1px solid #acacac;
	position: relative;
	background-color: white;
}

#logo{
	width: 32px;
}

ul{
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	font-size: 15px;
	color: #acacac;
}

li{
	padding-top: 8px;
}

.footer{
	color: #acacac;
	margin-left: 45px;
	display: inline-block;
}

.main_content{
	margin-left: 125px;
	height: 900px;
	/*background-color: green;*/
}
